{% extends 'Layout.html' %}

{% load static %}
{% load filters %}

{% block title %}Trails{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static "Scripts/trailview_site_point_selection_map.js" %}"></script>

<br />
<div style="border-bottom: 2px solid #485a28">
    <span class="Title">List of Trails</span><br />
    <span class="SubTitle">Click on a link to be taken to the trail.</span><br />
</div>

{% for t in trails %}
    <div class="trailList">
        {% with link="/Map/Trail/"|catNum:t.id click="requestPointInformation('"|catNum:t.id|add:"')" id="close_trail_points_list_"|catNum:t.id %}
        <p class="Link"><a href="{{ link }}">{{ t.Name }}</a>
            <span class="close_trail_points_list" id="{{ id }}" onclick="{{ click }}" title="Click to show points on the map.">&rarr;</span>
        </p>
        {% endwith %}
    </div>
{% endfor %}

<div id="mapSelection">
    <label for="cbPointsFilter">Filter by:</label>
    <select id="cbPointsFilter" name="cbPointsFilter">
        {% for opt in filter_options %}
            <option value="{{ opt.value }}">{{ opt.text }}</option>
        {% endfor %}
    </select>
    <div id="mapPointSelectionCanvas"></div>
</div>

<script type="text/javascript">
    var GetPossibleEntryPoints = "{% url trailview.views.Trails_GetPossibleEntryPoints %}"
    // MapView must be given parameters, but we can't know exactly what we need until later
    // so I'm just feeding it useless numbers and then stripping them out to get the
    // correct base URL
    var MapView = "{% url trailview.views.Map_ViewTrailStartingAtPano 0 0 %}".split("0/")[0];
    $(".close_trail_points_list").tooltip({
        show: { delay: 500 }
    });
    $("#cbPointsFilter").change(function () { handleDropDownValueChange(); });
    $(document).ready(initializeSelectionMap);
</script>

{% endblock %}
