{% load filters %}

<div class="menu_bar">
    <ul>
        <li>
            <a href={% url trailview.views.Trails_Trails %}>Trails</a>
            <ul>
                {% for trail in trails %}
                    <li>
                        
                        <a href={% url trailview.views.Map_ViewTrailById trail.id %}>{{ trail.Name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href={% url trailview.views.PoI_ListAll %}>Points of Interest</a>
            <ul>
                <li>
                    <a href={% url trailview.views.PoI_Atmospherics %}>Atmospherics</a>
                </li>
                <li>
                    <a href={% url trailview.views.PoI_Fauna %}>Fauna</a>
                </li>
                <li>
                    <a href={% url trailview.views.PoI_Flora %}>Flora</a>
                </li>
                <li>
                    <a href={% url trailview.views.PoI_Landmarks %}>Landmarks</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Trail History</a>
        </li>
    </ul>
</div>
